services:
  postgres:
    image: postgres:17-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-myuser}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-mypassword}
      POSTGRES_DB: ${POSTGRES_DB:-mydatabase}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-myuser} -d ${POSTGRES_DB:-mydatabase}"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
    restart: always
    environment:
      NODE_ENV: production
      # Connect to the postgres service using variables
      DATABASE_URL: postgresql://${POSTGRES_USER:-myuser}:${POSTGRES_PASSWORD:-mypassword}@postgres:5432/${POSTGRES_DB:-mydatabase}
      PORT: 3000
      JWT_SECRET_KEY: ${JWT_SECRET_KEY:-mysecretkey}
    depends_on:
      postgres:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
    restart: always
    ports:
      - "8080:80" # Map host port 8080 to container port 80
    depends_on:
      - backend

volumes:
  postgres_data:
